.login,.register{
    background: linear-gradient(rgba(13, 106, 173, 0.5), rgba(102, 51, 153, 0.5));
    color: #2f2e2e;
}

.project_name{
    text-align: center;
    margin: 130px 0 40px;
}
.comment-name{
    text-align: center;
    margin: 50px 0 40px;
    font-size: 24px;
}

.login-title ,.change-title,.comment-title{
    font-size: 24px;
    text-align: center;
    margin: 10px;
}

.login-form,.comment-form{
    background: #fff;
    width: 600px;
    border-radius: 25px 5px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.login-form > form ,.comment-form > form{
    text-align: center;
}

.form-control {
    font-size: 20px;
    margin-bottom: 10px;
}
.textarea-style,.input-style {
    width: 80%;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 10px 2px;
    font-size: 16px;
    padding-left: 40px;
    margin: 10px auto;
}
.input-style{
    height: 40px;
}
.textarea-style:focus,.input-style:focus{
    border: 2px solid #0d6aad;
}

input::-webkit-input-placeholder {
    color: #0d6aad;
    font-size: 16px;
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #0d6aad;
    font-size: 16px;
}

input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #0d6aad;
    font-size: 16px;
}

input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0d6aad;
    font-size: 16px;
}

textarea::-webkit-input-placeholder {
    color: #0d6aad;
    font-size: 16px;
}

textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #0d6aad;
    font-size: 16px;
}

textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #0d6aad;
    font-size: 16px;
}

textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #0d6aad;
    font-size: 16px;
}
.login-button ,.comment-button{
    border: none;
    width: 80%;
    height: 40px;
    background: linear-gradient(-135deg, rgba(13, 106, 173, 0.8), rgba(102, 51, 153, 0.8));
    border-radius: 10px 2px;
    font-size: 18px;
    margin-top: 10px;
    color: #ccc;
}

.login-button:hover ,.comment-button:hover{
    transform: translate(0, -1px);
    transition-delay: 0s !important;
    box-shadow: 0 5px 5px #ccc;
}

.register-link{
    margin: 10px;
    text-align: center;
    font-size: 14px;
}
.register-link a{
    text-decoration: none;
    color: #0d6aad;
}
.text-error{
    text-align: left;
    margin-left: 70px;
    font-size: 12px;
    color: #f64646;

}



/*提交意见*/
.text{
    height: 100px;
    width: 300px;
    margin: 50px auto 20px;
}