/*导航*/
ul , li{
    margin: 0;
    padding: 0;
}
.body_con{
    width: 100%;
    height: 100%;
    position: relative;
    /*font-size: 0;*/
}
.body_top{
    position: fixed;
    width: 100%;
    height: 60px;
    background: #f3faff;
    color: #333951;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    box-shadow: 0 5px 20px rgba(0,0,0,.2);
    z-index:1;
}
.body_left{
    width:200px;
    height: 1100px;
    background:#333951;
    font-size: 18px;
    color: #fff;
    position: fixed;
    top:0;
    z-index:2;
}

.body_right{
    width: calc(100% - 200px);
    display: inline-block;
    vertical-align: top;
    background:#f3faff;
    color: #999;
    overflow: hidden;
    margin: 60px 200px 0;
}

.body_left_list{
    width: 100%;
    min-height: 1rem;
    position: relative;
}
.body_left_list >li{
    width: 100%;
    min-height: 1px;
    overflow: hidden;
    border-bottom: 1px solid #333951;
    transition:all 0.5s;
    max-height: 1500px;
}
.body_left_list >li >label{
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    color: #fff;
    font-size:16px;
    background: #292e41;
    display: block;
}
.body_left_list >li >label >span{
    padding: 0 20px;
    width: 150px;
    color: #fff;
    font-size:16px;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.body_left_list >li >label >a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.body_left_list >li >label >i{
    position: absolute;
    top: 0;
    right:25px;
    font-size: 11px;
}
.body_left_list >li >ul{
    width: 100%;
    min-height: 1px;
    position: relative;
}
.body_left_list >li >ul >li{
    width: 100%;
    max-height: 50px;
    overflow: hidden;
    transition: all 0.5s;
}
.body_left_list >li >ul >li:hover{
    max-height: calc(200 * 8px);
}
.body_left_list >li >ul >li >label{
    width: 100%;
    height: 50px;
    background:#333951;
    line-height: 50px;
    position: relative;
    transition: all 0.5s;
    display: block;
}
.body_left_list >li >ul >li:hover >label{
    background: #151b32;
    border-left: 6px solid #1D8FF0;
}
.body_left_list >li >ul >li:hover >label >i:nth-child(3){
    transform: rotate(90deg);
}
.body_left_list >li >ul >li >label >i:nth-child(1){
    padding-left:  30px;
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}
.body_left_list >li >ul >li >label >span{
    font-size: 15px;
    color: #a1a3ab;
    width: 90px;
    display: inline-block;
    margin-left: 50px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.body_left_list >li >ul >li >label >i:nth-child(3){
    position: absolute;
    top: 0;
    right:25px;
}
.body_left_list >li >ul >li >label >a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.body_left_list >li >ul >li >ul{
    width: 100%;
    min-height: 1px;
}
.body_left_list >li >ul >li >ul >li{
    max-height: 40px;
    transition: all 0.5s;
    overflow: hidden;
    position: relative;
}
.body_left_list >li >ul >li >ul >li:hover{
    max-height: calc(200 * 8px);
}
.body_left_list >li >ul >li >ul >li >label{
    width: 100%;
    height:40px;
    background: #3a3e50;
    position: relative;
    line-height: 40px;
    display: block;
    transition: all 0.5s;
}
.body_left_list >li >ul >li >ul >li:hover >label >span{
    color: #fff;
}
.body_left_list >li >ul >li >ul >li:hover ul{
    display: block;
}
.body_left_list >li >ul >li >ul >li:hover >label >i{
    color: #fff;
}
.body_left_list >li >ul >li >ul >li >label >span{
    font-size:14px;
    padding-left: 70px;
    color: #a1a3ab;
    width: 150px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.body_left_list >li >ul >li >ul >li >label >i{
    position: absolute;
    top: 0;
    right:25px;
    font-size: 14px;
}
.body_left_list >li >ul >li >ul >li >label >a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 1;
}
.body_left_list >li >ul >li >ul >li >ul{
    width: 120px;
    min-height: 1px;
    position: fixed;
    top:0;
    left: 200px;
    display: none;
}
.body_left_list >li >ul >li >ul >li >ul >li{
    width: 100%;
    min-height: 40px;
    position: relative;
    transition:all 0.5s;
    background: #fff;
}
.body_left_list >li >ul >li >ul >li >ul >li >label{
    display: block;
    position: relative;
    width: 100%;
    height: 30px;
}
.body_left_list >li >ul >li >ul >li >ul >li >label >span{
    width: 60%;
    height: 40px;
    font-size: 12px;
    line-height: 40px;
    padding-left: 20px;
    display: block;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition:all 0.5s;
}
.body_left_list >li >ul >li >ul >li >ul >li >label >i{
    position: absolute;
    top: 13px;
    right:25px;
    font-size: 14px;
    color: #999;
}
.body_left_list >li >ul >li >ul >li >ul >li:hover >label >span{
    color: #1D8FF0;
}
.body_left_list >li >ul >li >ul >li >ul >li:hover >label >i{
    color: #1D8FF0;
}
.body_left_list >li >ul >li >ul >li >ul >li >label >a{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
a, a:hover {
    text-decoration: none;
}

.user-panel {
    position: fixed;
    right: 20px;
    top:3px;
    z-index:999;
}

.el-dropdown-link {
    cursor: pointer;
    color: #409EFF;
}

.el-icon-arrow-down {
    font-size: 12px;
}
.content{
    width: 100%;
}
.box{
    width: 95%;
    margin: 0 auto;
}
.box-header{
    margin: 30px auto;
}
.box-title{
    text-align: center;
}
/*表格样式*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

.bootstrap-data-table-panel .dataTables_filter {
    text-align: right;
}
.bootstrap-data-table-panel .dataTables_filter input{
    border:1px solid #868e96;
}
.bootstrap-data-table-panel .dataTables_filter input:focus{
    border:none;
}
.bootstrap-data-table-panel .dataTables_filter .form-control {
    margin-left: 10px;
}
.bootstrap-data-table-panel .dataTables_filter .form-control:hover,
.bootstrap-data-table-panel .dataTables_filter .form-control:focus {
    background: transparent;
}
.dataTables_length {
    display: inline-block;
    float: left;
    margin-right: 30px;
}
.dt-buttons {
    margin-bottom: 15px;
}
.dt-buttons .dt-button {
    background-image: none;
    background: #ffffff;
    color: #373757;
    border-color: #e7e7e7;
    margin-right: 10px;
    padding: 7px 20px;
    border-radius: 0px;
}
.dt-buttons .dt-button:hover:not(.disabled),
.dt-buttons .dt-button:focus,
.dt-buttons .dt-button.active {
    background-image: none;
    background: #5873fe;
    color: #ffffff;
}
button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled) {
    background-color: #5873fe;
    background-image: none;
    border: 1px solid #5873fe;
    box-shadow: none;
    color: #ffffff;
}
button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled),
a.dt-button:focus:not(.disabled) {
    background-color: #5873fe;
    background-image: none;
    border: 1px solid #5873fe;
    box-shadow: none;
    color: #ffffff;
}
button.dt-button:active:hover:not(.disabled):not(.disabled),
button.dt-button.active:hover:not(.disabled):not(.disabled),
div.dt-button:active:hover:not(.disabled):not(.disabled),
div.dt-button.active:hover:not(.disabled):not(.disabled),
a.dt-button:active:hover:not(.disabled):not(.disabled),
a.dt-button.active:hover:not(.disabled):not(.disabled) {
    background-color: #5873fe;
    background-image: none;
    border: 1px solid #5873fe;
    box-shadow: none;
    color: #ffffff;
}
button.dt-button:active:not(.disabled),
button.dt-button.active:not(.disabled),
div.dt-button:active:not(.disabled),
div.dt-button.active:not(.disabled),
a.dt-button:active:not(.disabled),
a.dt-button.active:not(.disabled) {
    background-color: #5873fe;
    background-image: none;
    border: 1px solid #5873fe;
    box-shadow: none;
    color: #ffffff;
}
@media (max-width: 767px) {
    .dataTables_length {
        margin-left: 10px;
    }
    select.input-sm {
        width: 167px;
    }
    .bootstrap-data-table-panel .dataTables_filter {
        margin-left: 12px;
        text-align: left;
        padding-right: 10px;
    }
    .bootstrap-data-table-panel .dataTables_filter .form-control {
        margin-left: 0px;
    }
}

thead tr th {
    background: #94bafc;
    color: #373757;
    font-weight: 500;
}
thead tr th:last-child {
    text-align: right;
}
tbody tr th {
    color: #373757;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
tbody tr td {
    font-family: 'Roboto', sans-serif;
    color: #868e96;
}
tbody tr th:last-child {
    text-align: right;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
    line-height: 32px;
    vertical-align: top;
}
.table > thead > tr > th {
    border-bottom: 1px solid #e7e7e7;
    font-weight: 600;
    border-top: 0;
}
.table {
    margin-bottom: 0;
}
.table .badge {
    text-transform: uppercase;
}


body {
    font-family: 'Roboto', sans-serif;
    background: rgba(88, 115, 254, 0.04);
    color: #868e96;
    font-size: 14px;
}

a,button {
    outline: none!important;
    text-decoration: none!important;
    color: #868e96;
    transition: all 0.2s ease 0s;
}

a.active,
button.active,
a:focus,
button:focus,
a:hover,
button:hover {
    color: #252525;
    outline: none!important;
    text-decoration: none!important;
}

/*测试页按钮*/
.ele-button{
    margin-bottom: 10px;
}


/** 当前激活的分页按钮样式 **/
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
    color: white !important;
    outline: none;
    background-color: #409EFF !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #409EFF),
    color-stop(100%, #409EFF));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #1e2bda 0%, #409EFF 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #1e2bda 0%, #409EFF 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #1e2bda 0%, #409EFF 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #1e2bda 0%, #409EFF 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #1e2bda 0%, #409EFF 100%);
    /* W3C */
    /*box-shadow: inset 0 0 3px #111;*/
}
/* 分页按钮鼠标移入时的样式 */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
    color: white !important;
    border: 1px solid #409EFF;
    background-color: #409EFF;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #409EFF),
    color-stop(100%, #409EFF));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #6a72ea 0%, #409EFF 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(top, #6a72ea 0%, #409EFF 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(top, #6a72ea 0%, #409EFF 100%);
    /* IE10+ */
    background: -o-linear-gradient(top, #6a72ea 0%, #409EFF 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to bottom, #6a72ea 0%, #409EFF 100%);
    /* W3C */
}
[v-cloak]{
    display: none;!important;
}
